/* Global Styles */
.birthstone-regular {
    font-family: "Birthstone", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    /* Vert apaisant */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    padding-left: 10px;
}

nav ul li a {
    color: #646060;
    text-decoration: none;
    font-weight: bold;
    font-size: 3rem;
    font-family: "Birthstone", serif;
    font-style: normal;
    transition: color 0.3s ease-in-out;
}


nav ul li a:hover {
    text-decoration: underline;
    color: #121110;
    /* Une couleur douce qui attire l’attention */
}

/* Hero Section */
#hero {
    background: url('../images/Drainage.jpg') no-repeat center center/cover;

    /* Image d'arrière-plan relaxante */
    color: rgb(49, 47, 51);
    padding: 120px 20px;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    font-family: 'Georgia', serif;
    /**/
    color: #212020;

    font-family: "Birthstone", serif;
    font-style: normal;
}

#hero p {
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 30px;
}

#hero .btn {
    background-color: #ff6347;
    /* Une couleur chaude et relaxante */
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#hero .btn:hover {
    background-color: #471f19;
}

/* Début story Section */
#story {

    background: url('../images/meditation.jpg') no-repeat center center/cover;

    /* Image d'arrière-plan relaxante */
    color: rgb(49, 47, 51);
    padding: 120px 20px;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#story h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    font-family: 'Georgia', serif;
    /**/
    color: #212020;

    font-family: "Birthstone", serif;
    font-style: normal;
}

#bio {

    /* Augmentation de la taille du texte */
    line-height: 1.8;
    color: #dbdbe1;
    font-family: 'Playfair Display', serif;
    background: rgba(7, 7, 7, 0.3);
    /* Fond semi-transparent noir */
    border-radius: 5px;
    text-align: justify;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    /* Ombre pour améliorer la lisibilité */
    padding: 1rem;
}

#story p {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bolder;
    margin-bottom: 30px;
}

#story .btn {
    background-color: #ff6347;
    /* Une couleur chaude et relaxante */
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Fin story Section */
/*Les bienfaits paragraphe style*/
.highlight {
    font-weight: bold;
    color: #4CAF50;
}

/* Boîte pour chaque bienfait */
#article p{
    color: #121110;
}
.benefit {
    background-color:rgba(0, 0, 0, 0.15) #ffffff;
    border-left: 5px solid #4CAF50;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Effet au survol */
.benefit:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
/*Fin bienfaits*/
#hero .btn:hover {
    background-color: #e5533d;
}

/* Début Section bienfaits*/

#bienfaits {
    background: url('../images/4_saisons-1.jpg') no-repeat center center/cover;


    /* Image d'arrière-plan relaxante */
    color: rgb(49, 47, 51);
    padding: 120px 20px;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#bienfaits h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    color: #bbb4b4;
    font-family: "Birthstone", serif;
    font-style: normal;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

#bienfaits p {
    font-size: 1.4rem;
    font-style: italic;
    margin-bottom: 30px;
    color: #bbb4b4;
}

#bienfaits .btn {
    background-color: #ff6347;
    /* Une couleur chaude et relaxante */
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

/* Section Services */
#services {
    padding: 60px 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#services h2 {
    font-size: 2.5rem;
    color: #009688;
    margin-bottom: 30px;
}

.service-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
}

.service-item:hover {
    transform: translateY(-10px);
    /* Effet de survol */
}

.service-item h3 {
    font-size: 2rem;
    color: #009688;
    margin-bottom: 15px;
}

.service-item p {
    font-size: 1.2rem;
}

.service-item strong {
    color: #ff6347;
    font-size: 1.4rem;
}

.service-item .btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #009688;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1rem;
}

.service-item .btn:hover {
    background-color: #00796b;
}

/* Formulaire de Contact */
#contact {
    padding: 60px 20px;
    background-color: #f4f4f9;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form input,
form select,
form button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
}

form button {
    background-color: #ff6347;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #e5533d;
}

form input:focus,
form select:focus,
form button:focus {
    outline: none;
    border-color: #009688;
}

/*Section témoingnage*/

.temoignages {
    background: #f8f8f8;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    padding: 20px;
    text-align: center;
}

.avis {
    font-style: italic;
    color: #555;
}

/* Footer */
footer {
    background-color: #009688;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1.1rem;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;

}

footer a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icons a img {
    width: 50px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

/* Effet de zoom au survol */
.social-icons a:hover img {
    transform: scale(1.2);
    /* Agrandissement */
    filter: brightness(1.2);
    /* Rend l'image plus lumineuse */
}

/* Effet de rotation */
.social-icons a:hover img {
    transform: rotate(10deg) scale(1.2);
}

.wecasa {
    border-radius: 50%;
}